<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Study Groups</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List Study Groups</h3>

    <hr/>
    <a th:href="@{/addStudyGroupForm}" class="btn btn-primary">Add Study Group</a>
    <a th:href="@{/list}" class="btn btn-secondary ml-2">Students</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="studyGroupTable">

        <thead>
        <tr>
            <th>Name</th>
            <th>Faculty</th>
            <th>Course</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="studyGroup: ${studyGroups}">
            <td th:text="${studyGroup.name}"></td>
            <td th:text="${studyGroup.faculty}"></td>
            <td th:text="${studyGroup.course}"></td>
            <td>
                <a th:href="@{/showStudyGroupUpdateForm(studyGroupId=${studyGroup.id})}" class="btn btn-info">Update</a>

                <a th:href="@{/deleteStudyGroup(studyGroupId=${studyGroup.id})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#studyGroupTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }]
        });
    })
</script>
</body>

</html>
